* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: hsla(220, 4%, 58%, .3);
}

.align-center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex1 {
  flex: 1;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}